.anki-snackbar {
    width: 320px;
    
    .v-snack__wrapper {
        align-items: flex-start;
        min-width: 320px;
        margin: 0px;
        
        .v-snack__content {
            min-width: 320px;
            padding: 0px;
            color: rgb(var(--v-theme-text));
            
            .v-btn span {
                color: rgb(var(--v-theme-text));
            }
        }

        .snackbar-title {
            line-height: 36px;
        }
    }
}

.text-block-group {
    overflow-y: hidden !important;
    overflow-x: visible !important;
    
    .subtitle-timestamp {
        background-color: rgb(var(--v-theme-primary));
        color: white;
        border-radius: 30px;
        width: 72px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;

        &.hidden {
            opacity: 0;
            height: 0px;
            padding: 0px !important;
            pointer-events: none;
        }
    }

    .text-block {
        background-color: rgb(var(--v-theme-foreground));
        overflow: hidden !important;
        padding: 0px !important;
    }

//     .word {
//         display: inline-block;
//         cursor: pointer;
//         margin: 1px 0px;
//         height: auto;
//         line-height: 100%;
//         padding-top: 4px; 
//         padding-bottom: 4px;
//         transition: .2s;
//         color: rgb(var(--v-theme-text));
//         border-radius: 0px;
//         border-top: 1px solid rgba(0, 0, 0, 0);
//         border-bottom: 1px solid rgba(0, 0, 0, 0);
//         transition: background-color 0s;

//         .rubyword {
//             pointer-events: none;
//         }

//         &:not(.phrase):not(.highlighted) {
//             border-radius: 6px;
//         }

//         &.space {
//             margin-left: 4px;
//         }

//         &[stage="-7"], &[stage="-6"], &[stage="-5"], 
//         &[stage="-4"], &[stage="-3"], &[stage="-2"], &[stage="-1"] {
//             color: rgb(var(--v-theme-highlightedWordText));
//             margin-left: .5px !important;
//             margin-right: .5px !important;
//             padding-left: 4px !important;
//             padding-right: 4px !important;
//         }

//         &[stage="1"] {
//             color: rgb(var(--v-theme-ignoredWordTextColor));
//         }

//         &[stage="-1"] {
//             background-color: rgb(var(--v-theme-highlightedWordLevel1));
//         }

//         &[stage="-2"] {
//             background-color: rgb(var(--v-theme-highlightedWordLevel2));
//         }
        
//         &[stage="-3"] {
//             background-color: rgb(var(--v-theme-highlightedWordLevel3));
//         }
        
//         &[stage="-4"] {
//             background-color: rgb(var(--v-theme-highlightedWordLevel4));
//         }
        
//         &[stage="-5"] {
//             background-color: rgb(var(--v-theme-highlightedWordLevel5));
//         }
        
//         &[stage="-6"] {
//             background-color: rgb(var(--v-theme-highlightedWordLevel6));
//         }

//         &[stage="-7"] {
//             background-color: rgb(var(--v-theme-highlightedWordLevel7));
//         }
        
//         &.no-highlight {
//             background-color: rgba(0, 0, 0, 0) !important;
//             color: rgb(var(--v-theme-text)) !important;
//             border-bottom: 1px solid rgba(0, 0, 0, 0);
//         }

//         &[stage="2"] {
//             padding-left: 4px !important;
//             padding-right: 4px !important;
//         }


//         &.phrase {
//             color: rgb(var(--v-theme-highlightedWordText));
//             margin-left: 0 !important;
//             margin-right: 0 !important;

//             &[phraseStage="-1"] {
//                 background-color: rgb(var(--v-theme-highlightedWordLevel1));
//                 border-top: 1px solid var(--v-highlightedWordLevel1-darken1);
//                 border-bottom: 1px solid var(--v-highlightedWordLevel1-darken1);
//             }
    
//             &[phraseStage="-2"] {
//                 background-color: rgb(var(--v-theme-highlightedWordLevel2));
//                 border-top: 1px solid var(--v-highlightedWordLevel2-darken1);
//                 border-bottom: 1px solid var(--v-highlightedWordLevel2-darken1);
//             }
            
//             &[phraseStage="-3"] {
//                 background-color: rgb(var(--v-theme-highlightedWordLevel3));
//                 border-top: 1px solid var(--v-highlightedWordLevel3-darken1);
//                 border-bottom: 1px solid var(--v-highlightedWordLevel3-darken1);
//             }
            
//             &[phraseStage="-4"] {
//                 background-color: rgb(var(--v-theme-highlightedWordLevel4));
//                 border-top: 1px solid var(--v-highlightedWordLevel4-darken1);
//                 border-bottom: 1px solid var(--v-highlightedWordLevel4-darken1);
//             }
            
//             &[phraseStage="-5"] {
//                 background-color: rgb(var(--v-theme-highlightedWordLevel5));
//                 border-top: 1px solid var(--v-highlightedWordLevel5-darken1);
//                 border-bottom: 1px solid var(--v-highlightedWordLevel5-darken1);
//             }
            
//             &[phraseStage="-6"] {
//                 background-color: rgb(var(--v-theme-highlightedWordLevel6));
//                 border-top: 1px solid var(--v-highlightedWordLevel6-darken1);
//                 border-bottom: 1px solid var(--v-highlightedWordLevel6-darken1);
//             }
    
//             &[phraseStage="-7"] {
//                 background-color: rgb(var(--v-theme-highlightedWordLevel7));
//                 border-top: 1px solid var(--v-highlightedWordLevel7-darken1);
//                 border-bottom: 1px solid var(--v-highlightedWordLevel7-darken1);
//             }
            
//             &[phrasestage="0"] {
//                 border-color: rgb(180, 180, 180) !important;
//                 color: rgb(var(--v-theme-text));
                
//                 &[stage="2"] {
//                     color: rgb(var(--v-theme-textDark));
//                 }

//                 &.no-highlight {
//                     border-color: rgb(180, 180, 180) !important;
//                 }
//             }

//             &[phrasestage="0"]:not([stage="2"]) {
//                 background-color: rgba(0, 0, 0, 0);

//                 &.highlighted {
//                     background-color: rgb(var(--v-theme-readerWordSelection));
//                 }
//             }

//             &.no-highlight {
//                 background-color: rgba(0, 0, 0, 0);
//                 border-color: rgb(180, 180, 180) !important;
//                 color: rgb(var(--v-theme-text));


//             }

//             &.highlighted, &:hover, &[phrasestage="0"]:hover {
//                 background-color: rgb(var(--v-theme-readerWordSelection));
//             }
//         }

//         &.phrase-start {
//             border-left: 1px solid rgb(var(--v-theme-text));
//             border-top-left-radius: 6px !important;
//             border-bottom-left-radius: 6px !important;
//             margin-left: .5px !important;
//             padding-left: 4px !important;

//             &[phraseStage="-1"] {
//                 border-left: 1px solid var(--v-highlightedWordLevel1-darken1);
//             }
    
//             &[phraseStage="-2"] {
//                 border-left: 1px solid var(--v-highlightedWordLevel2-darken1);
//             }
            
//             &[phraseStage="-3"] {
//                 border-left: 1px solid var(--v-highlightedWordLevel3-darken1);
//             }
            
//             &[phraseStage="-4"] {
//                 border-left: 1px solid var(--v-highlightedWordLevel4-darken1);
//             }
            
//             &[phraseStage="-5"] {
//                 border-left: 1px solid var(--v-highlightedWordLevel5-darken1);
//             }
            
//             &[phraseStage="-6"] {
//                 border-left: 1px solid var(--v-highlightedWordLevel6-darken1);
//             }
    
//             &[phraseStage="-7"] {
//                 border-left: 1px solid var(--v-highlightedWordLevel7-darken1);
//             }
//         }

//         &.phrase-end {
//             border-right: 1px solid rgb(var(--v-theme-text));
//             border-top-right-radius: 6px !important;
//             border-bottom-right-radius: 6px !important;
//             margin-right: .5px !important;
//             padding-right: 4px !important;

//             &[phraseStage="-1"] {
//                 border-right: 1px solid var(--v-highlightedWordLevel1-darken1);
//             }
    
//             &[phraseStage="-2"] {
//                 border-right: 1px solid var(--v-highlightedWordLevel2-darken1);
//             }
            
//             &[phraseStage="-3"] {
//                 border-right: 1px solid var(--v-highlightedWordLevel3-darken1);
//             }
            
//             &[phraseStage="-4"] {
//                 border-right: 1px solid var(--v-highlightedWordLevel4-darken1);
//             }
            
//             &[phraseStage="-5"] {
//                 border-right: 1px solid var(--v-highlightedWordLevel5-darken1);
//             }
            
//             &[phraseStage="-6"] {
//                 border-right: 1px solid var(--v-highlightedWordLevel6-darken1);
//             }
    
//             &[phraseStage="-7"] {
//                 border-right: 1px solid var(--v-highlightedWordLevel7-darken1);
//             }
//         }

//         &[stage="2"] {
//             background-color: rgb(var(--v-theme-newWord));
//             color: rgb(var(--v-theme-highlightedWordText));
//             margin-left: .5px !important;
//             margin-right: .5px !important;
//         }
        
//         &.highlighted, &:hover {
//             background-color: rgb(var(--v-theme-readerWordSelection)) !important;
//             color: rgb(var(--v-theme-highlightedWordText)) !important;
//             border-color: rgb(var(--v-theme-readerWordSelection)) !important;
//             border-top-left-radius: 0px;
//             border-bottom-left-radius: 0px;
//         }
        
//         // highlighted rounding
//         &.highlighted:not(.highlighted ~ *) {
//             border-top-left-radius: 6px;
//             border-bottom-left-radius: 6px;
//         }

//         &.highlighted:not(:has(~ .highlighted)) {
//             border-top-right-radius: 6px;
//             border-bottom-right-radius: 6px;
//         }

//         &.space-after {
//             margin-right: 5px !important;
            
//             &.highlighted:not(.highlight-end):not(.phrase-end),
//             &.phrase:not(.phrase-end) {
//                 margin-right: 0px !important;
//                 padding-right: 5px !important;
//             }
//         }
//     }
}
