!/public/css/vuetify.min.css
.env.backup
.phpunit.result.cache
.vscode
devcontainer.json
/.idea
/docker/cache/*
/docker/mysql/*
/node_modules
/package-lock.json
/public/css/*.css
/public/fonts/vendor/@mdi/*
/public/hot
/public/js/*.js
/public/js/dmak/kanji/*.svg
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/backup
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*.log
/cache
/vendor
/database
Homestead.json
Homestead.yaml
__pycache__
docker-compose.override.yml
npm-debug.log
supervisord.pid
yarn-error.log
