!/public/css/vuetify.min.css
.env.backup
.phpunit.result.cache
/.devcontainer/devcontainer.json
/.idea
/.vscode
/cache/*
/docker/mysql/*
/node_modules
/package-lock.json
/public/css/*.css
/public/fonts/vendor/@mdi/*
/public/hot
/public/js/*.js
/public/js/dmak/kanji/*.svg
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/backup
/vendor
Homestead.json
Homestead.yaml
__pycache__
docker-compose.override.yml
npm-debug.log
supervisord.pid
yarn-error.log
