@import 'tailwindcss';
@import '@nuxt/ui';

:root {
    --ui-bg: var(--ui-color-neutral-100);
    --ui-bg-muted: var(--ui-color-neutral-250);
    --ui-bg-elevated: var(--ui-color-neutral-300);
    --ui-bg-accented: var(--ui-color-neutral-400);
    --ui-bg-inverted: var(--ui-color-neutral-950);
}

.dark {
    --ui-bg: var(--ui-color-neutral-900);
    --ui-bg-muted: var(--ui-color-neutral-800);
    --ui-bg-elevated: var(--ui-color-neutral-800);
    --ui-bg-accented: var(--ui-color-neutral-700);
    --ui-bg-inverted: var(--color-white);
}
