@import 'variables';

#app.dark .v-theme--dark.v-chip,
#app.dark .v-chip {
    color: rgb(var(--v-theme-textDark));

    i {
        color: rgb(var(--v-theme-textDark));
    }
}

#app.dark kbd {
    background-color: rgb(var(--v-theme-primary));
    color: rgb(var(--v-theme-textDark));
}

// input text color
#app.dark input,
#app.dark textarea {
    color: rgb(var(--v-theme-text)) !important;
}

// input placeholder color
#app.dark input::placeholder,
#app.dark textarea::placeholder {
    color: rgb(var(--v-theme-text)) !important;
    -webkit-text-fill-color: rgb(var(--v-theme-text)) !important;
    opacity: .5 !important;
}

.v-text-field.v-input--has-state .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-messages, .v-text-field .v-input__control, .v-text-field fieldset

// text area
#app.dark textarea {
    color: rgb(var(--v-theme-text));
}

// select text color
#app.dark .v-theme--dark.v-select .v-select__selections {
    color: rgb(var(--v-theme-text));
}

// google autofill input background
#app.dark .v-input__control {
    input {
        -webkit-text-fill-color: rgb(var(--v-theme-text)) !important;
        &:-webkit-autofill{
            -webkit-text-fill-color: rgb(var(--v-theme-text)) !important;
            -webkit-box-shadow: 0 0 0 50px rgb(var(--v-theme-gray)) inset;
        }
    }

    .v-input__slot:hover input:not(:active):not(:focus) {
        -webkit-text-fill-color: rgb(var(--v-theme-text)) !important;
        &:-webkit-autofill {
            -webkit-text-fill-color: rgb(var(--v-theme-text)) !important;
            -webkit-box-shadow: 0 0 0 50px #4B4A4E inset;
        }
    }
}

// pagination
// pagination
#app.dark .v-theme--dark.v-pagination .v-pagination__item,
#app.dark .v-theme--dark.v-pagination .v-pagination__navigation {
    background: rgb(var(--v-theme-foreground));
}

#app.dark .v-theme--dark.v-pagination .v-pagination__item--active {
    color: rgb(var(--v-theme-textDark));
}

// v-card
#app.dark .v-theme--dark.v-card,
#app.dark .v-theme--dark.v-card > .v-card__subtitle,
#app.dark .v-theme--dark.v-card > .v-card__text {
    color: rgb(var(--v-theme-text));
    background: rgb(var(--v-theme-foreground));
}

// v-stepper
#app.dark .v-theme--dark.v-stepper {
    background: rgb(var(--v-theme-foreground));
}

// alert
#app.dark .v-alert.primary,
#app.dark .v-alert.success,
#app.dark .v-alert.error,
#app.dark .v-alert.warning {
    color: rgb(var(--v-theme-textDark));

    i.v-icon {
        color: rgb(var(--v-theme-textDark));
    }

    a, a:visited, a:active {
        color: rgb(var(--v-theme-textDark));
    }
}

// table
#app.dark .v-theme--dark.v-data-table.v-data-table--fixed-header thead th,
#app.dark .v-theme--dark.v-data-table {
    background: rgb(var(--v-theme-foreground));
    color: rgb(var(--v-theme-text));
}

// v-menu
#app.dark .v-overlay__content.v-theme--dark {
    border: 1px solid rgb(var(--v-theme-customBorder)) !important;
}

// vocabulary page search bar
#app.dark #vocabulary #vocabulary-search-field {
    .v-input__slot fieldset,
    .v-input__slot {
        background: rgb(var(--v-theme-gray));
        border-right: 0px solid rgba(0, 0, 0, 0) !important;

        &:focus, &:active, &:hover {
            background: rgb(var(--v-theme-gray3));
        }
    }
}

// vocabulary page
#app.dark #vocabulary {
    #search-result-info i,
    #search-result-info {
        color: rgb(var(--v-theme-text)) !important;
    }

    div.new-word,
    div.highlighted-word {
        color: rgb(var(--v-theme-textDark));
    }
}

// vocabulary edit stage buttons
#app.dark #vocabulary-edit-stage-buttons {
    button.v-btn {
        &.v-btn--active{
            background-color: rgb(var(--v-theme-primary));
        }

        &.v-btn--active .v-btn__content {
            color: rgb(var(--v-theme-textDark));
        }
    }
}

// v-menu in vocabulary
#app.dark .v-overlay__content .v-theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    background-color: rgb(var(--v-theme-foreground));
    color: rgb(var(--v-theme-text));
}

#app.dark .v-overlay__content .v-list-item.v-list-item--active {
    background-color: rgb(var(--v-theme-primary)) !important;
    color: rgb(var(--v-theme-textDark)) !important;
}

#app.dark .v-overlay__content .v-list-item.v-list-item--active i {
    color: rgb(var(--v-theme-textDark)) !important;
}

// date picker
#app.dark .v-theme--dark.v-picker__body {
    background: rgb(var(--v-theme-foreground));
}

#app.dark .v-theme--dark.v-date-picker-header .v-date-picker-header__value:not(.v-date-picker-header__value--disabled) button:not(:hover):not(:focus) {
    color: rgb(var(--v-theme-text));
}

#app.dark .v-date-picker-title {
    color: rgb(var(--v-theme-textDark));
}

// v-list
#app.dark .v-theme--dark.v-list {
    background: rgb(var(--v-theme-foreground));
}

// navigation text
#app.dark .v-theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: rgb(var(--v-theme-text));
}

// navigation bottom text
#app.dark .v-navigation-drawer .v-btn__content span {
    color: rgb(var(--v-theme-text));
}

// tab bar
#app.dark .v-slide-group__wrapper {
    background-color: rgb(var(--v-theme-foreground));
}

// navigation button
#app.dark .v-theme--dark.v-list-item--active:before,
#app.dark .v-theme--dark.v-list-item--active:hover:before,
#app.dark .v-theme--dark.v-list-item:focus:before {
    opacity: 0;
}

// bottom navbar color
#app.dark .v-theme--dark.v-bottom-navigation .spacer{
    background-color: rgb(var(--v-theme-foreground));
}

// v-icon
#app.dark .v-theme--dark.v-icon,
#app.dark .v-btn.icon > .v-btn__content .v-icon {
    color: rgb(var(--v-theme-text));
}

// white button icon
#app.dark .v-btn .v-theme--dark.v-icon.white--text {
    color: rgb(var(--v-theme-textDark)) !important;
}

// error v-icon button
#app.dark .v-btn.error--text .v-theme--dark.v-icon {
    color: rgb(var(--v-theme-error));
}

// success v-icon button
#app.dark .v-btn.success--text .v-theme--dark.v-icon {
    color: rgb(var(--v-theme-success));
}

// button
#app.dark .v-btn.primary .v-btn__content i.v-icon,
#app.dark .v-btn.success .v-btn__content i.v-icon {
    color: rgb(var(--v-theme-textDark));
}

//  button
#app.dark .v-theme--dark.v-btn.v-btn--has-bg {
    background-color: rgb(var(--v-theme-foreground));
}

#app.dark .v-btn.primary .v-btn__content,
#app.dark .v-btn.error .v-btn__content,
#app.dark .v-btn.success .v-btn__content {
    color: rgb(var(--v-theme-textDark));

    span, i {
        color: rgb(var(--v-theme-textDark));
    }
}
// password change alert
#app.dark #password-change-alert {
    color: rgb(var(--v-theme-text));

    .v-btn i {
        color: rgb(var(--v-theme-textDark));
    }
}

// calendar
#app.dark .v-btn.calendar-button .v-btn__content {
    color: rgb(var(--v-theme-text));

    span {
        color: rgb(var(--v-theme-text));
    }
}

#app.dark #calendar-popup-date {
    color: rgb(var(--v-theme-textDark));

    i.v-icon {
        color: rgb(var(--v-theme-textDark));
    }
}

// v-btn plain
#app.dark .v-btn--plain .v-btn__content {
    color: rgb(var(--v-theme-text));
}

// subheader
#app.dark .subheader{
    color: rgb(var(--v-theme-text));
}

// border
#app.dark .border {
    border-color: #393939 !important;
}

// calendar text
#app.dark #calendar #calendar-months .calendar-month .calendar-month-days .calendar-day.full-achievement .calendar-day-text {
    color: rgb(var(--v-theme-textDark));
}
// calendar border
#app.dark #calendar #calendar-months .calendar-month .calendar-month-days .calendar-day {
    border-color: #404040;
}

// navigation text
#app.dark #navigation-drawer a.navigation-button.v-list-item--active {
    color: rgb(var(--v-theme-textDark)) !important;

    i {
        color: rgb(var(--v-theme-textDark)) !important;
    }
}

// book list text color
#app.dark #books .info-table-value.highlighted-words,
#app.dark #books .info-table-value.new-words {
    color: rgb(var(--v-theme-textDark)) !important;
}

// chapter list text color
#app.dark .book-chapters .info-table-value.highlighted-words,
#app.dark .book-chapters .info-table-value.new-words {
    color: rgb(var(--v-theme-textDark)) !important;
}


// text reader finished
.finished-box {
    .finished-stage-level {
        color: rgb(var(--v-theme-textDark));
    }
}

// text reader chapter list
#app.dark #text-reader-chapter-list {
    span.highlighted{
        color: rgb(var(--v-theme-textDark));
    }

    span.new {
        color: rgb(var(--v-theme-textDark));
    }
}

// text reader glossary
#app.dark #text-reader-chapter-list {
    span.highlighted{
        color: rgb(var(--v-theme-textDark));
    }

    span.new {
        color: rgb(var(--v-theme-textDark));
    }
}

// vocab box active stage button
#app.dark #vocab-box #vocab-box-stage-buttons .v-btn.v-btn--active,
#app.dark #vocab-side-box #vocab-box-stage-buttons .v-btn.v-btn--active,
#app.dark #vocabulary-bottom-sheet-stage-buttons .v-btn.v-btn--active {
    background-color: rgb(var(--v-theme-primary)) !important;
    border-color: rgb(var(--v-theme-primary)) !important;
    color: rgb(var(--v-theme-textDark)) !important;

    i {
        color: rgb(var(--v-theme-textDark)) !important;
    }

    &::before {
        display: none !important;
    }
}

// vocab box stage buttons border
#app.dark #vocab-box #vocab-box-stage-buttons .v-btn,
#app.dark #vocab-side-box #vocab-box-stage-buttons .v-btn,
#app.dark #vocabulary-bottom-sheet-stage-buttons .v-btn {
    background-color: rgb(var(--v-theme-gray));

    color: rgb(var(--v-theme-text)) !important;
}

// search result color
#app.dark .search-result .search-result-definition:hover {
    color: rgb(var(--v-theme-text));
    background-color: rgb(var(--v-theme-gray2));

    i {
        color: rgb(var(--v-theme-text)) !important;
    }
}


#app.dark .search-result.disabled .search-result-definition:hover,
#app.dark .search-result.disabled .search-result-definition:hover {
    &:hover {
        background-color: rgb(var(--v-theme-foreground));
        color: rgb(var(--v-theme-text));
        cursor: default;
    }
}

// search bar result icon color transition
.search-result .search-result-definition i {
    transition: 0s;
}

// search bar result icon color
.search-result .search-result-definition:hover i {
    color: rgb(var(--v-theme-textDark)) !important;
}

// search result title color
.search-result .search-result-title {
    color: rgb(var(--v-theme-text)) !important;

    i {
        color: rgb(var(--v-theme-textDark)) !important;
    }
}


// review
#review-box {
    hr {
        background-color: rgb(var(--v-theme-gray3));
    }

    #review-card {
        &.back-to-deck-animation #review-card-content,
        &.into-the-correct-deck-animation #review-card-content {
            #review-card-front,
            #review-card-back {
                color: rgb(var(--v-theme-textDark)) !important;
            }
        }

        &.draw-new-card-animation #review-card-content {
            #review-card-front,
            #review-card-back {
                color: rgb(var(--v-theme-text)) !important;
            }
        }
    }
}

// admin api settings
#app.dark #admin-api-settings {
    #deepl-api-card,
    #deepl-api-card > .v-card__text {
        background-color: rgb(var(--v-theme-gray)) !important;
    }
}

// kanji list
#app.dark #kanji-list {
    .kanji {
        &:not(.learned) {
            color: rgb(var(--v-theme-gray2));
        }
    }
}

// admin dictionary settings
#app.dark #supported-dictionaries {
    .dictionary {
        border: 1px dashed rgb(var(--v-theme-gray3));
    }
}

// kanji details
#app.dark #kanji #kanji-radicals {
    .kanji-radical {
        &:hover {
            background-color: rgb(var(--v-theme-gray));
        }
    }
}

// color picker actions
#app.dark .color-picker-actions,
#app.dark .v-color-picker__controls {
    background-color: rgb(var(--v-theme-foreground)) !important;
}

// library import dialog
#app.dark #import-dialog .youtube-subtitle-source #selected-youtube-subtitle,
#app.dark #import-dialog .jellyfin-subtitle-source #selected-jellyfin-subtitle,
#app.dark #import-dialog #website-text {
    background-color: rgb(var(--v-theme-gray));
}

// user manual
#user-manual {
    pre, pre * {
        color: rgb(var(--v-theme-text));
    }
}
