.book-chapters {
    .highlighted-words {
        background-color: rgb(var(--v-theme-highlightedWordBackground));
        color: rgb(var(--v-theme-highlightedWordText));
        height: 24px;
        line-height: 24px;
        width: 60px;
        text-align: center;
    }

    .new-words {
        background-color: rgb(var(--v-theme-newWordBackground));
        color: rgb(var(--v-theme-highlightedWordText));
        height: 24px;
        line-height: 24px;
        width: 60px;
        text-align: center
    }

    .chapter-word-count-skeleton,
    .chapter-word-count-skeleton div {
        height: 24px;
    }

    .importing-text {
        color: rgb(var(--v-theme-warning));
    }
}